div {
  width: 200px;
  height: 100px;
  background-color: #ff00ff;
}

div:hover {
  animation: moveRight 2s infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}
