div {
  width: 100px;
  aspect-ratio: 1 / 1;
  background-color: #008000;
  animation: changeSize 2s infinite;
}

@keyframes changeSize {
  0% {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
  50% {
    width: 150px;
    aspect-ratio: 1 / 1;
  }
  100% {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
}
