div {
  width: 150px;
  aspect-ratio: 1 / 1;
  background-color: #0000ff;
  animation: changeColor 2s infinite;
}

@keyframes changeColor {
  0% {
    background-color: blue;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}
