div {
  width: 200px;
  height: 200px;
  background-color: #0000ff;
  transition: background-color 1s;
}

div:focus {
  width: 150px;
  height: 150px;
}

/* div:not(:focus) {
  transition-delay: 1s;
  width: 200px;
  height: 200px;
} */
