div {
  width: 150px;
  height: 150px;
  background-color: #0000ff;
  transition: background-color 1s;
}

div:hover {
  background-color: #ff0000;
}

div:not(:hover) {
  transition-delay: 1s;
  background-color: blue;
}
