div {
  width: 100px;
  aspect-ratio: 1 / 1;
  background-color: #00ffff;
}

div:hover {
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
